
#rootVBox {
    -fx-border-width: 2;
    -fx-border-color:#333;
    -fx-background-radius: 0;
    -fx-border-radius: 0.5;
}
#rootVBoxInner {
    -fx-border-width: 0;
    -fx-border-color:#333;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
#menuBarHBox{
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;

}

#titleBarHBox{
    -fx-background-color: #333;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#titleLabel{
    -fx-text-fill: #f5f2f2;
    -fx-font-size: 14;
}

#minButton{
    -fx-graphic: url("/img/min.png") ;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
#minButton:hover{
    -fx-background-color: #4A5459;
}

#minButton:pressed{
    -fx-background-color: #4A5459;
}

#maxButton{
    -fx-graphic: url("/img/max.png") ;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
#maxButton:hover{
    -fx-background-color: #4A5459;
}

#maxButton:pressed{
    -fx-background-color: #4A5459;
}

#menuButton{
    -fx-graphic: url("/img/menu.png") ;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
#menuButton:hover{
    -fx-background-color: #4A5459;
}

#menuButton:pressed{
    -fx-background-color: #4A5459;
}

#closeButton{
    -fx-graphic: url("/img/close.png") ;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;

}
#closeButton:hover{
    -fx-background-color: #E71123;
}

#closeButton:pressed{
    -fx-background-color: #E71123;
}


